/* BOILERPLATE */
:root {
    --red: #FC4747;
    --dark-blue: #10141e;
    --greyish-blue: #5A698F;
    --semi-dark-blue: #161D2F;
    --white: #FFFFFF;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--dark-blue);
    position: relative;
}
html {
    font-family: 'Outfit', sans-serif;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: inherit;
}
button:disabled {
    cursor: auto;
}
h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

app-home {
    display: grid;
    padding: 24px 16px;
    gap: 24px;
}
app-nav-bar {
    display: flex;
    background-color: var(--semi-dark-blue);
    padding: 18px 16px;
    align-items: center;
    justify-content: space-between;
}

.searchContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}
.searchicon {
    padding: 0 0 15px 0;
}
#search {
    width: 100%;
    background-color: transparent;
    padding: 0 0 15px 0;
    border: none;
    font-size: 24px;
    border-bottom: none;
    font-weight: 300;
    font-family: 'Outfit';
    color: var(--white);
}
#search::placeholder {
    color: var(--white);
}
#search:focus {
    border-bottom: 1px solid var(--greyish-blue);
    outline: none;
}